
* {
    margin: 0;
    padding: 0;
    font-size: 66.67%;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.container {
    font-size: 2rem;
    height: 87vh;
    position: relative;
    margin: 0rem 2rem 0 2rem;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

}

.inventory-back {
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    background-color: rgb(102, 121, 143);
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    text-align: center;
}

.inventory-back h2 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 2rem;
    color: white;
}

.clip {
    animation: clip 0.3s ease-in forwards;
    -webkit-animation: clip 0.3s ease-in forwards;
}

@keyframes clip {

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%);
    }
}

.nav {
    background-color: black;
    box-shadow: 0 2px 30px #696969;
    position: relative;
    z-index: 1;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
    width: 100%;
    margin: 0rem 2rem 0rem 2rem;
    padding: 0.5rem 0 0.5rem 0;
    color: white;
}

.nav-logo img {
    height: 3rem;
    cursor: pointer;
}

.nav-chat {
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-chat img {
    height: 3rem;
    margin-right: 1rem;
}

.nav-chat h3 {
    font-size: 2rem;
    font-weight: 100;
}

.nav-chat:hover {
    background-color: rgb(19, 179, 19);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

form {
    font-size: 3rem;
    margin: auto auto;
    display: flex;
    width: 60rem;
    flex-direction: column;
}

#input-email {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 0 3rem;
    position: relative;
}

#input-email label {
    font-size: 2rem;
    position: absolute;
    color: #ffffff;
    left: 5rem;
    top: 1rem;
    transition: all 0.3s;
    text-transform: capitalize;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform: translate(-50px, -50px) scale(0.9);
    -webkit-transform: translate(-50px, -50px) scale(0.9);
    -moz-transform: translate(-50px, -50px) scale(0.9);
    -ms-transform: translate(-50px, -50px) scale(0.9);
    -o-transform: translate(-50px, -50px) scale(0.9);
}

#user-id {
    font-size: 2rem;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    padding: 1rem 0 1rem 0;
    text-indent: 5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#user-id:placeholder-shown+label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

#input-email img {
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btn-collection {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.btn {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 4rem 1rem 4rem;
    height: 5rem;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    cursor: pointer;
    user-select: none;
}

.btn-green {
    background-color: rgb(62, 179, 62);
    color: white;
}

.btn:hover {
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
}

.btn:active {
    transform: translateY(-0.6rem);
    -webkit-transform: translateY(-0.6rem);
    -moz-transform: translateY(-0.6rem);
    -ms-transform: translateY(-0.6rem);
    -o-transform: translateY(-0.6rem);
}

.btn:nth-child(2) span {
    font-size: 2rem;
    margin-right: -1rem;
}

#inventory-icon {
    width: 3rem;
    margin-left: -2rem;
    margin-right: 1rem;
}

.item-input {
    position: absolute;
    width: 500px;
    top: 13rem;
    height: 4rem;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.item-input input {
    position: absolute;
    height: 4rem;
    width: 100%;
    left: 50%;
    font-size: 2rem;
    border: 1px solid #e7e7e7;
    padding: 0 4.5rem 0 2rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.item-input img {
    cursor: pointer;
    position: absolute;
    width: 3.8rem;
    top: 0.1rem;
    right: 0.15rem;
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}

.item-input img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

input:focus {
    outline: none;
}

.inventory-box {
    margin-top: 10rem;
    background-color: rgb(240, 240, 240);
    height: 90%;
    max-width: 800px;
    min-width: 600px;
    box-shadow: 0 2px 10px #838383;
    padding-top: 10rem;
    overflow-x: hidden;
}

.inventory-item {
    display: grid;
    box-shadow: 0 1px 1px #bbbbbb;
    font-size: 3.6rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem 3rem 1rem 2rem;
    /*color: rgb(53, 204, 78);
    */
    color: rgb(181, 182, 181);
    grid-template-columns: 4rem 1fr 1fr;
    grid-template-rows: auto;
    justify-items: end;
    border-bottom: 1px solid #e5e2e2;
    align-content: center;
    opacity: 1;
}

.remove {
    animation: removeItem 0.3s ease-out forwards;
    -webkit-animation: removeItem 0.3s ease-out forwards;
}

.inventory-item:nth-child(1) {
    border-top: 1px solid #e5e2e2;
}

.inventory-item h2 {
    font-weight: 100;
    justify-self: start;
}

.inventory-item input {
    border: none;
    background-color: rgb(240, 240, 240);
    width: 11rem;
    color: rgb(119, 118, 118);
    text-indent: 1rem;
}

.delete-btn {
    width: 2.3rem;
    height: 2.3rem;
    margin-top: 0.3rem;
    justify-self: start;
    overflow: hidden;
    border: 1px solid #b8b8b8;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.delete-btn:hover {
    background-image: url("/static/images/error.svg");
    border: 1px solid transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes removeItem {
    100% {
        transform: translateX(-60rem) scale(0.4);
        -webkit-transform: translateX(-60rem) scale(0.4);
        -moz-transform: translateX(-60rem) scale(0.4);
        -ms-transform: translateX(-60rem) scale(0.4);
        -o-transform: translateX(-60rem) scale(0.4);
        opacity: 0;
}
}