* {
    margin: 0;
    padding: 0;
    font-size: 66.67%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    background-color: #141e30;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container {
    font-size: 2rem;
    height: 90vh;
    position: relative;
    margin: 0rem 2rem 0rem 2rem;
    z-index: 0;
    display: flex;
}

.nav {
    background-color: black;
    box-shadow: 0 2px 30px #181818;
    position: relative;
    z-index: 1;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    align-items: center;
    width: 100%;
    margin: 0rem 2rem 0rem 2rem;
    padding: 0.5rem 0 0.5rem 0;
    color: white;
}

.nav-logo img {
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.nav-btn {
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-btn img {
    height: 3rem;
    margin-right: 1rem;
}

.nav-btn h3 {
    font-size: 2rem;
    font-weight: 100;
}

.nav-btn:hover {
    background-color: rgb(19, 179, 19);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.nav-btn img {
    width: 4rem;
}

#map {
    flex: 1 1 70%;
    height: 95%;
}

.weather {
    flex: 0 0 320px;
    height: 95%;
    background-image: linear-gradient(#2C3E50, #4CA1AF);
    overflow-x: hidden;
    overflow-y: scroll;
}

/* .tag{
    color: white;
    font-weight: 100;
    padding: 0.3rem 2rem 0.3rem 2rem;
    right: 5rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.692);
}

.tag::after{
    content: "";
    width: 1rem;
    height: 1rem;
    left: 3rem;
    
} */

.weather-section {
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    color: white;
    border-bottom: 1px solid #d3d3d313;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-size: 2rem;
    padding-top: 1rem;
}

.weather-arrow {
    height: 3rem;
    width: 3rem;
    position: absolute;
    bottom: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.weather-arrow:hover {
    background-color: rgba(248, 248, 248, 0.3);
}

.cover-weather {
    height: 100% !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.show-arrow {
    opacity: 1 !important;
    z-index: 2;
}

.weather-data {
    height: 0%;
    max-height: 90%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    overflow-y: scroll;
    margin-bottom: 4rem;
    justify-content: center;
}

.weather-data span {
    display: flex;
    align-items: center;
}

.weather-glimpse {
    min-height: 0;
    max-height: 105px;
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-glimpse img {
    width: 5rem;
}

.weather-glimpse h2 {
    font-size: 2rem;
}

.weather-glimpse h3 {
    font-size: 1rem;
    font-weight: 100;
}

.weather-data-text {
    font-size: 2rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 1px solid #ffffff05;
    height: 6rem;
}

.weather-data-text:nth-child(1) {
    border-top: 1px solid #ffffff05;
}

.weather-data-text h3 {
    font-weight: 100;
    margin-left: 1rem;
}

.remove-weather {
    display: none;
}

.night-weather {
    display: none;
}

.right-arrow {
    position: absolute;
    right: 0rem;
    height: 100%;
    width: 3rem;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.right-arrow img {
    width: 2.6rem;
    animation: night-arrow 1s ease-in-out infinite;
    -webkit-animation: night-arrow 1s ease-in-out infinite;
}

.right-arrow:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

@keyframes night-arrow {
    0% {
        transform: translateX(-0.6rem);
        -webkit-transform: translateX(-0.6rem);
        -moz-transform: translateX(-0.6rem);
        -ms-transform: translateX(-0.6rem);
        -o-transform: translateX(-0.6rem);
    }

    50% {
        transform: translateX(0.2rem);
        -webkit-transform: translateX(0.2rem);
        -moz-transform: translateX(0.2rem);
        -ms-transform: translateX(0.2rem);
        -o-transform: translateX(0.2rem);
    }

    100% {
        transform: translateX(-0.6rem);
        -webkit-transform: translateX(-0.6rem);
        -moz-transform: translateX(-0.6rem);
        -ms-transform: translateX(-0.6rem);
        -o-transform: translateX(-0.6rem);
    }
}
