*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #141e30;
}

nav{
    display: flex;
    background-color: black;
    height: 3rem;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem 0 0;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    height: 2rem;
    padding: 0 0 0 0.5rem;
}

.container{
    background-color: rgb(238, 238, 238);
    height: 85vh;
    margin: 1rem 1rem 0 1rem;
}

#map{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.nav-services{
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.3rem;

}
.nav-services:hover{
    background-color: rgb(19, 179, 19);;
}

.nav-services img{
    height: 1.3rem;
    margin-right: 0.5rem;
}

.nav-alert{
    user-select: none;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.3rem;

}
.nav-alert:hover{
    background-color: rgb(146, 73, 73);
}

.nav-alert img{
    height: 1.3rem;
    margin-right: 0.5rem;
}

.chat-box{
    background-color: rgb(243, 243, 243);
    height: 90%;
    width: 40%;
    position: absolute;
    right: 0;
    top: 3.5rem;
    padding: 4rem 1rem 1rem 1rem;
    display: flex;
    z-index: 1000;
}

.btn-group{
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.btn-group button:nth-child(2){
    right: 0;
}

.btn {
    margin-top: 1.5rem;
    font-weight: 100;
    min-width: 9rem;
    font-size: 1.7rem;
    user-select: none;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-0.4rem);
    -webkit-transform: translateY(-0.4rem);
    -moz-transform: translateY(-0.4rem);
    -ms-transform: translateY(-0.4rem);
    -o-transform: translateY(-0.4rem);
}

.btn:active {
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem);
}

.btn:focus {
    outline: none;
}

.btn-blue {
    background-color: rgb(37, 144, 206);
    color: white;
}

.btn-green {
    background-color: rgb(59, 168, 92);
    color: white;
}

.not-heading{
    position: absolute;
    width: 100%;
    margin-left: -1rem;
    text-align: center;
    margin-top: -4rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 0.8rem 1rem 0.8rem 1rem;
}

.messages{
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    width: 100%;
    margin-bottom: 9rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.not-mess{
    background-color: rgb(201, 201, 201);
    margin-top: 0.5rem;
    padding: 1rem 0.8rem 1rem 0.8rem;
    word-wrap: break-word;
    hyphens:auto;
    overflow-wrap: break-word;
    font-weight: 100;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.input{
    width: 90%;
    position: absolute;
    bottom: 7rem;
    height: 2.5rem;
    text-indent: 1rem;
    font-size: 1rem;
    font-weight: 100;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.input:focus{
    outline: none;
}


.notification {
    background-image: linear-gradient(#141e30, #243b55);
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0rem;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 10;
}

.alerts {
    font-size: 1.5rem;
    background-color: rgb(230, 75, 75);
    width: 100%;
    min-height: 3rem;
    overflow-wrap: break-word;
    hyphens: auto;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.3rem;
    color: white;
    border: 1px solid transparent;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    margin-bottom: 2rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.notification div {
    height: 90%;
    width: 100%;
}

.noti-arrow {
    bottom: 0.6rem;
    right: 1.3rem;
    position: fixed;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
}

.noti-arrow:hover {
    background-color: rgba(248, 248, 248, 0.3);

}

.noti-arrow img {
    width: 2rem;
    height: 2rem;
    padding: 7px 4px 4px 4px;
}

.notification-hide {
    height: 7%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.input-box {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    font-size: 3rem;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin-left: -0.02rem;
    padding: 1rem 10rem 1.2rem 10rem;
    background-color: #141e30;
}

.input-box input {
    width: 100%;
    border: none;
    height: 3.5rem;
    text-indent: 2rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 100;
    margin-right: 3rem;
}

.input-box button {
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 20rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.input-box button:hover {
    background-color: rgb(48, 173, 48);
    color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.empty {
    background-image: url('/static/images/inbox-empty-tray.svg');
    height: 100%;
    width: 100%;
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}