<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>

<body>
    <div id="app">
        <header class="nav">
            <ul>
                <li class="nav-logo">
                    <img src="/static/images/Logo.png" @click="window.location.href='/'">
                </li>
                <li class="nav-chat" @click="window.location.href='/chat'">
                    <img src="/static/images/chat.svg">
                    <h3>CHAT</h3>
                </li>
            </ul>
            <div></div>
        </header>
        <section class="container">
            <form @submit.prevent v-if="!formHide">
                <span id="input-email">
                    <img src="/static/images/login.svg" alt="login">
                    <input type="text" name="text" id="user-id" required placeholder="Enter Slack User-ID" v-model="user_id">
                    <label for="email">Slack User-Id</label>
                </span>
                <span class="btn-collection">
                    <span class="btn btn-green" @click="login">Login</span>
                    <span class="btn" @click="validate">
                        <img src="/static/images/storage.svg" alt="inventory" id="inventory-icon">
                        <span>Inventory</span>
                    </span>
                </span>
            </form>

            <div :class="{'inventory-back':true, 'clip':formHide}">
                <h2 v-if="formHide">INVENTORY</h2>
            </div>
            <div class="inventory-box" v-if="formHide">
                <form @submit.prevent="parseInput" class="item-input">
                    <input type="text" placeholder="Item" v-model="item">
                    <img src="/static/images/up-arrow.svg" alt="add" @click="uploadInventory">
                </form>
                <div :class="{'inventory-item':true, 'remove':!i.show}" v-for="(i,k) in items">
                    <div class="delete-btn" @click="deleteItem(k)">
                    </div>
                    <h2>{{i.name}}</h2>
                    <input type="number" min="0" max="100000" v-model="i.amount">
                </div>

            </div>

        </section>
        </span>
        <script src="/static/javascript/chat.js"></script>
</body>

</html>