<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/services.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <span id="app">
        <header>
            <nav>
                <ul>
                    <li class="nav-logo">
                        <img src="/static/images/Logo.png" alt="Logo">
                    </li>
                    <li class="nav-home" @click="redirect('/')">
                        <img src="/static/images/home.svg" alt="">
                        Home
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <section class="images">
                <div :class="{'cards':true,'selected':imageIndex[0]}" @click="selectedImage('After',0)">
                    <img src="/static/images/After.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[1]}" @click="selectedImage('before',1)">
                    <img src="/static/images/before.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[2]}" @click="selectedImage('image1',2)">
                    <img src="/static/images/image1.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[3]}" @click="selectedImage('image2',3)">
                    <img src="/static/images/image2.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[4]}" @click="selectedImage('image3',4)">
                    <img src="/static/images/image3.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[5]}" @click="selectedImage('image4',5)">
                    <img src="/static/images/image4.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[6]}" @click="selectedImage('image5',6)">
                    <img src="/static/images/image5.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[7]}" @click="selectedImage('image6',7)">
                    <img src="/static/images/image6.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[8]}" @click="selectedImage('eq1',8)">
                    <img src="/static/images/eq1.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[9]}" @click="selectedImage('eq2',9)">
                    <img src="/static/images/eq2.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[10]}" @click="selectedImage('eq3',10)">
                    <img src="/static/images/eq3.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[11]}" @click="selectedImage('eq4',11)">
                    <img src="/static/images/eq4.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[12]}" @click="selectedImage('eq5',12)">
                    <img src="/static/images/eq5.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[13]}" @click="selectedImage('eq6',13)">
                    <img src="/static/images/eq6.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[14]}" @click="selectedImage('fl1',14)">
                    <img src="/static/images/fl1.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[15]}" @click="selectedImage('fl2',15)">
                    <img src="/static/images/fl2.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[16]}" @click="selectedImage('fl3',16)">
                    <img src="/static/images/fl3.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[17]}" @click="selectedImage('fl4',17)">
                    <img src="/static/images/fl4.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[18]}" @click="selectedImage('fl5',18)">
                    <img src="/static/images/fl5.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[19]}" @click="selectedImage('fl6',19)">
                    <img src="/static/images/fl6.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[20]}" @click="selectedImage('fr1',20)">
                    <img src="/static/images/fr1.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[21]}" @click="selectedImage('fr2',21)">
                    <img src="/static/images/fr2.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[22]}" @click="selectedImage('fr3',22)">
                    <img src="/static/images/fr3.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[23]}" @click="selectedImage('fr4',23)">
                    <img src="/static/images/fr4.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[24]}" @click="selectedImage('fr5',24)">
                    <img src="/static/images/fr5.jpg" alt="">
                </div>
                <div :class="{'cards':true,'selected':imageIndex[25]}" @click="selectedImage('fr6',25)">
                    <img src="/static/images/fr6.jpg" alt="">
                </div>
            </section>

            <section class="input-area">
                <div class="input">
                    <div :class="{'input-card':true, 'selected-color':!structure}">
                        <h2>CNN API</h2>
                        <span class="input-card-selector" @click="structure=!structure">
                            <h3>IMAGE SELECTED:</h3>
                            <span v-show="!structure">{{image[0]}}</span>
                        </span>
                        <button class="btn btn-blue" @click="submit(1)">Submit</button>
                    </div>
                    <div :class="{'input-card':true, 'selected-color':!structure,'output-area':true}">
                        <h2 class="output">OUTPUT</h2>
                        <h3 v-show="submitted == 1">{{prediction[0]}}</h3>
                        <h4 v-show="submitted == 1">{{prediction[1]}}</h4>
                    </div>
                </div>
                <div class="input">
                    <div :class="{'input-card':true, 'selected-color':structure}">
                        <h2>STRUCTURE CHANGE API</h2>
                        <span class="input-card-selector" @click="structure=!structure">
                            <h3>IMAGE SELECTED:</h3>
                            <span v-show="structure">{{image[0]}} {{image[1]}}</span>
                        </span>
                        <button class="btn btn-blue" @click="submit(2)">Submit</button>
                    </div>

                    <div :class="{'input-card':true, 'selected-color':structure,'output-area':true}">
                        <h2 class="output">OUTPUT</h2>
                        <h3 v-show="submitted == 2">{{prediction[0]}}</h3>
                        <h4 v-show="submitted == 2">{{prediction[1]}}</h4>
                    </div>
                </div>
            </section>

        </main>
        <footer></footer>
    </span>
    <script src="/static/javascript/services.js" async defer></script>
    <span id="google"></span>
</body>

</html>